body {
	margin: 0;
	background-color: #bfbfbf;
}
.black-ops {
	font-family: "Black Ops One", system-ui;
	font-weight: 400;
	font-style: normal;
}
.source-sans {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Header  */
header {
	background-color: #1b1a1a;
	padding: 1rem 1%;
}
header h1 {
	margin: 0;
	color: #04d94f;
}
header p {
	margin: 0;
	color: #04d94f;
	letter-spacing: 0.5px;
}
/* nav  */
nav {
	background-color: #404040;
}
nav ul {
	list-style-type: none;
	display: flex;
	padding: 0 2vw;
	margin: 0;
}
nav ul li a {
	font-size: 1.1rem;
	font-weight: 700;
	text-decoration: none;
	color: #04bf68;
	display: block;
	padding: 0.73rem 2rem;
}
nav li.active a {
	background-color: #737373;
	color: #04d94f;
}
nav a:hover {
	color: #038c5a;
}
/* Main */
main {
	padding: 0rem 1vw;
}
main h1 {
	color: #04bf68;
	background-color: #404040;
	padding: 0rem 3rem 0rem;
	width: 17.6rem;
	margin-left: -1vw;
	margin-top: -0vw;
}
main dl {
	padding: 0.5rem;
	width: 12.5rem;
	border: 2px solid #404040;
	border-radius: 0.3rem;
	background-color: #9e9e9e;
}
main dl dt {
	color: #404040;
}
main h2 {
	color: #404040;
}
main h3 {
	color: #1b402e;
}
main a {
	color: #094618;
}
main p {
	font-weight: 200;
}
/* images in main start here */
main .gamer {
	float: right;
	text-align: center;
	font-size: 0.75rem;
}
main .gamer img {
	width: 100%;
	height: auto;
}
main .img-gallery {
	display: flex;
	flex-wrap: wrap;
	background-color: #9e9e9e;
}
main .video-thumbnail img {
	width: 300px;
}

/* footer */
footer {
	background-color: #1b1a1a;
	color: #04bf68;
	padding: 0rem 0rem 4rem;
	text-align: center;
	clear: both;
	font-size: 0.75rem;
}
footer a {
	color: #04bf68;
}
